

/*@media screen and (min-width: 600px) {*/
    /*.nav li {*/
        /*width: 120px;*/
        /*border-bottom: none;*/
        /*height: 50px;*/
        /*line-height: 50px;*/
        /*font-size: 1.4em;*/
    /*}*/

    /*/!* Option 1 - Display Inline *!/*/
    /*.nav li {*/
        /*display: inline-block;*/
        /*margin-right: -4px;*/
    /*}*/

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
/*}*/

ul.choices {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    list-style: none;
    margin: 0;
}

.active_choice {
    cursor: default;
    border: 1px solid #eee;
    background: #f8f8f8;
}

.choices {
    padding: 10px 15px;
    margin: 6px 0;
}

.choices li {
    padding: 10px 15px;
    margin: 6px 0;
    margin-left: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li.correct_answer {
    color: #50852C;
    font-weight: normal;
    filter: none;
    background: #F5FdF5;
    border: 1px solid #689548;
}

.test_info {
    margin-top: 20px;
}

.wrong_answer {
    color: #FF0000;
    font-weight: normal;
    filter: none;
    background: rgb(252, 248, 248);
    border: 1px solid rgb(149, 72, 72);
}