<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/easytutor</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">111111</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping class="com.easytutor.orm.entities.Test"/>
        <mapping class="com.easytutor.orm.entities.Question"/>
        <mapping class="com.easytutor.orm.entities.Answer"/>
        <mapping class="com.easytutor.orm.entities.UserATutor"/>
        <mapping class="com.easytutor.orm.entities.TestsQuestions"/>
        <mapping class="com.easytutor.orm.entities.TestsQuestionsId"/>
    </session-factory>
</hibernate-configuration>