<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="temporaryTestStorage" class="com.easytutor.utils.TemporaryTestStorage" init-method="init"/>
    <bean id="applicationContextProvider" class="com.easytutor.utils.ApplicationContextProvider"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/easytutor?useUnicode=true&amp;characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="111111"/>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.easytutor.models.Answer</value>
                <value>com.easytutor.models.Question</value>
                <value>com.easytutor.models.Test</value>
                <value>com.easytutor.models.TestsQuestions</value>
                <value>com.easytutor.models.TestsQuestionsId</value>
                <value>com.easytutor.models.UserATutor</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.current_session_context_class">thread</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    <bean id="atutorDAO" class="com.easytutor.dao.ATutorDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="testDAO" class="com.easytutor.dao.impl.TestDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="questionDAO" class="com.easytutor.dao.impl.QuestionDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="answerDAO" class="com.easytutor.dao.impl.AnswerDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="atutorUserDAO" class="com.easytutor.dao.impl.ATutorUserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>